#main{
    flex-direction: column;
    margin: 0.5rem 20vw;
}
.search{
    margin-bottom: 0.5rem;
}
.search > div,
.search > div > form,
.search input{
    width: 100%
}
.drop-menu{
    display: block;
}

@media (max-width: 1080px){
    #main{
        margin: 0.5rem;
    }
}