{% extends 'app/app.html' %}{% load static %}

{% block includes %}
<link href="{% static 'css/app/user-container.css' %}" rel="stylesheet">
<link href="{% static 'css/app/drop-menu.css' %}" rel="stylesheet">
<link href="{% static 'css/app/picture-grid.css' %}" rel="stylesheet">
<link href="{% static 'css/app/pagination.css' %}" rel="stylesheet">
<link href="{% static 'css/profiles/profile.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="content">
    <div class="user-container fg border padding">
        <div class="user-container-image">
            <span>
                <img class="border bg" src="{{profile.image.url}}" alt="">
            </span>
        </div>
        <div class="user-container-body">
            <div>
                <span>{{profile.user.username}}</span>
                <div class="drop-menu">
                    <span>•••</span>
                    <div class="drop-menu-body bg border ">
                        {% if profile.user == user %}
                            <a href="#">Edit</a>
                            <a href="#">Options</a>
                            <a href="{% url 'posts:create' %}">Upload</a>
                            <form class="form-sign-out" action="{% url 'auth:sign_out' %}" method="post">
                                {% csrf_token %}
                                <input class="bg link" type="submit" value="Sign out">
                            </form>
<!--                            <a href="{% url 'auth:sign_out' %}">Sign out</a>-->
                        {% else %}
                            <a href="#">Report</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <span>{{profile.note}}</span>
        </div>
    </div>
    {% if posts %}
    <div class="fg border padding">
        <div class="picture-grid">
            {% for post in posts %}
            <a href="{% url 'posts:post' post.id %}">
                <img src="{{ post.image.url }}" alt="">
            </a>
            {% endfor %}
        </div>
        {% if posts.has_other_pages %}
    <nav>
        <ul class="pagination">
            {% if posts.has_previous %}
            <li class="page-item bg">
                <a class="page-link" href="?page={{ posts.previous_page_number }}">‹</a>
            </li>
            {% if posts.number > 6 %}
            <li class="page-item bg">
                <a class="page-link" href="?page=1">1</a>
            </li>
            <li class="page-item bg">
                <a class="page-link" href="?page=2">2</a>
            </li>
            <li class="page-item active">
                <span class="page-link">...</span>
            </li>
            <li class="page-item bg">
                <a class="page-link" href="?page={{ posts.previous_page_number }}">{{ posts.prev_prev }}</a>
            </li>
            <li class="page-item bg">
                <a class="page-link" href="?page={{ posts.previous_page_number }}">{{ posts.previous_page_number }}</a>
            </li>
            {% else %}
            {% with ''|center:posts.previous_page_number as range %}
            {% for _ in range %}
            <li class="page-item bg">
                <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
            </li>
            {% endfor %}
            {% endwith %}
            {% endif %}
            {% endif %}
            <li class="page-item active">
                <span class="page-link">{{ posts.number }}</span>
            </li>
            {% if posts.has_next %}
            <li class="page-item bg">
                <a class="page-link" href="?page={{ posts.next_page_number }}">{{ posts.next_page_number }}</a>
            </li>
            {% if posts.next_num > 1 %}
            <li class="page-item bg">
                <a class="page-link" href="?page={{ posts.next_next }}">{{ posts.next_next }}</a>
            </li>
            {% endif %}
            {% if posts.next_num > 4 %}
            <li class="page-item active">
                <span class="page-link">...</span>
            </li>
            {% endif %}
            {% if posts.next_num > 3 %}
            <li class="page-item bg">
                <a class="page-link" href="?page={{ posts.paginator.num_pages }}">{{ posts.prev_last }}</a>
            </li>
            {% endif %}
            {% if posts.next_num > 2 %}
            <li class="page-item bg">
                <a class="page-link" href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a>
            </li>
            {% endif %}
            <li class="page-item bg">
                <a class="page-link" href="?page={{ posts.next_page_number }}">›</a>
            </li>
            {% endif %}
        </ul>
    </nav>
        {% endif %}
    </div>
    {% endif %}
</div>

</div>
{% endblock %}